body {
    font-family: Arial, sans-serif;
    background-image: url(../Imágenes/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    padding: 10px;
    margin: 0px auto;
    color: red;
    width: 100%;
}

nav {
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
     margin-right: 200px;
    margin-left: 200px;
}

nav a {
    text-decoration: none;
    margin: 50px;
    color: blueviolet;
}

nav a:hover {
    color: tomato;
    background-color: gold;
}

video {
    margin: 10px;
}
#logo {
    margin-left: 150px;
}


.region {
    height: 1000px;
    width: 100%;
    margin-left: 75px;
}
footer {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}