/* He añadido una fuente personalizada com tematica de pokemon */

@font-face {
    font-family: 'Pokemonfont';
    src: url('../fonts/Pokemon\ Classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonTitulo'; 
    src: url('../fonts/Pokemon\ Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../Imágenes/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    display: block; 
    padding: 3%;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); 
    width: 100%;
    font-family: 'PokemonTitulo', Arial, sans-serif; 
    font-size: clamp(1.5rem, 5vw, 3rem); /* Tamaño dinámico: se encoge en móvil y crece en PC 
                                            lo hemos puesto asi para que se adapte la letra de los h1
                                            1.5rem es el tamaño minimo: Es el "suelo". No importa qué tan pequeña sea la pantalla del móvil, el texto nunca será más pequeño que esto.
                                            5vw es el tamaño ideal Es el valor que el texto intentará tener siempre. 5vw significa el 5% del ancho de la ventana del navegador. A medida que estiras la ventana, el texto crece.
                                            3rem es el tamaño maximo:Aunque pongas la web en un monitor gigante de 4K, el texto no sobrepasará este tamaño.  */
    letter-spacing: 8px;  /* espacio de separación horizontal entre las letras de un texto */
}

h1::first-letter {
    font-size: 150%;
    color: darkred;
}

h1 img {
    display: block;      /* Permite que margin: auto funcione */
    margin: 0 auto;      /* La centra perfectamente */
    max-width: 80%;      /* En moviles ocupará el 80% del ancho, nunca el 100% */
    height: auto !important; /* El !important obliga a ignorar cualquier altura fija anterior */
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
}

h2 {
    color:#f4f3ee;
    text-align: center;
    padding: 2%;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #3b4cca;
    font-size: clamp(1.2rem, 4vw, 2.2rem);
    font-family: 'PokemonTitulo', Arial, sans-serif; 
    letter-spacing: 4px; 
    padding-left: 15px;
}

h3 {
    text-align: center;
    font-family: 'PokemonTitulo', Arial, sans-serif; 
    font-size: clamp(1.2rem, 4vw, 2.2rem);
    padding: 10px;
    color: #ffcb05;
    letter-spacing: 3px;
    
    text-shadow: 
        -2px -2px 0 #3b4cca,  
         2px -2px 0 #3b4cca,
        -2px  2px 0 #3b4cca,
         2px  2px 0 #3b4cca,
         2px  2px 4px #000; 
}



p::first-letter {
    font-size: 25px;
    color: rgb(235, 7, 7);
    font-weight: bold;
}

ul > li {
    list-style-type: square;
    margin-bottom: 5px;
}

/* NAVEGACIÓN */

nav {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); /* Todo lo que se vea a través de este menú, se desenfcoa 10 píxeles  */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px; /* redondea las esquinas */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;   /* Espacio entre elementos del Grid, en este caso*/
    max-width: 80%;
    
    position: relative; 
    margin: 20px auto;
    
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    z-index: 999;  /* este número asegura que siempre flotará por encima de cualquier otro elemento de la página */
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease; /* all: Le dice al navegador que anime todos los cambios que ocurran en ese elementoSi solo quisieras que se suavizara el color, pondrías transition: color 0.3s ease; 
                                0.3a: tiempo que tarda en completarse la transición
                                ease: hace que la animación comience un poco lento, se acelere en el medio y termine lento otra vez */
    background: rgba(0, 0, 0, 0.2);
}

nav a, .dropbtn {
    font-family: 'Pokemonfont', sans-serif;
    font-size: 1rem;
}

nav a:hover {
    color: tomato;
    transition: 0.3s all ease;
    transform: scale(1.1); 
}

.dropdown {
    position: relative;
    display: inline-block; 
}

.dropbtn {
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: white; 
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease; 
    background: rgba(0, 0, 0, 0.2);
    font-family: 'Pokemonfont', sans-serif;
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    border-radius: 8px; 
    z-index: 1000;    /* Lo pone por encima de cualquier otro elemento */
    top: 100%;        /* Asegura que aparezca justo debajo del botón */
    left: 0;          /* Lo alinea a la izquierda del botón */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    margin: 0; 
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: tomato;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: tomato;
}

/* FORMULARIO Y ENTRADAS */

form {
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.05) 100%);
    padding: 40px;
    border-radius: 15px;

    border: 5px solid;
    border-image: linear-gradient(to right, #444, #888) 1;
    
    backdrop-filter: blur(5px);
    max-width: 600px;
    margin: 20px auto;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block; 
}

label + input {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: green;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
}

input[type="text"] {
    border: 2px solid aquamarine;
}

/* COMPONENTES VISUALES INDICE*/

#logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#Inicio {
    display: block; 
    width: 90%; 
    max-width: 1400px; 
    margin: 20px auto; 
    position: relative; 
    background-color: rgba(31, 32, 31, 0.507);
    color: white;
    padding: 2%;
    border-radius: 20px;
}

#Inicio p {
    font-family: 'Pokemonfont', 'Arial', sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    line-height: 1.6; /* Espacio entre líneas */
    font-size: 1.1rem;
    max-width: 800px; /* Evita que las líneas sean demasiado largas*/
    margin: 20px auto;
    padding: 30px;
    
   /* Hemos querido hacer que el fondo de las explicaciones similara los colores de una Pokeball */
    background: linear-gradient(
        rgba(255, 50, 50, 0.25) 48%, 
        rgba(0, 0, 0, 0.3) 48%,     
        rgba(0, 0, 0, 0.3) 52%, 
        rgba(255, 255, 255, 0.15) 52% 
    );
    backdrop-filter: blur(12px);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    
    /* Para que el texto no toque los bordes del diseño */
    position: relative;
    overflow: hidden;
}

aside {

    clear: both; 
    float: none;           
    
    /* Centrado horizontal del bloque aside */
    margin: 40px auto;     
    
    /* 1. display flex para centrar la imagen dentro */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;           
    max-width: 900px;      
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);

    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

aside img {
    clear: both;
    width: 100%; 
    height: auto;
    display: block;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
#Eventos {
    padding: 20px;
    background-color: rgba(165, 161, 161, 0.8);
    border-radius: 10px;
    margin-top: 20px;
}

#Eventos p {
    font-size: 1.3em; 
    line-height: 1.6;  
    color: #333;
    letter-spacing: 0.5px;
}
#Eventos h2 {
    color: #000000;
}

#Eventos p::first-letter {
    font-size: 25px;
    color: rgb(237, 222, 14);
    font-weight: bold;
}

.contenedor-eventos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 15px;
}

.evento-card {
    background: #897676;
    border-left: 5px solid #3b4cca; /* Azul Pokémon */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.evento-card:hover {
    transform: translateY(-5px); /* Efecto de levante al pasar el ratón */
    border-left-color: #ffde00; /* Cambia a Amarillo Pokémon al pasar el ratón */
}

.evento-card h3 {
    margin-top: 0;
    color: #ffde00; /* Color amarillo Pokémon */
    font-size: 1.5em;
    letter-spacing: 4px; /* Separación de letras */
    /* Contorno de las letras (Stroke) */
    text-shadow: 
        -2px -2px 0 #3b4cca,  
         2px -2px 0 #3b4cca,
        -2px  2px 0 #3b4cca,
         2px  2px 0 #3b4cca;
}

.evento-card p strong {
    color: #3b4cca;
    font-weight: bold;
}

 /* BOTON DEL FORMULARIO */
#boton-enviar-pokemon {

    display: block;
    width: 100%;
    max-width: 300px;
    margin: 30px auto;
    padding: 15px;

    background: linear-gradient(to bottom, #ffcc00 0%, #d4ac00 100%);
    color: #000;
    font-family: 'Arial Black', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    border: 3px solid #333;
    border-radius: 8px;
    box-shadow: 0 5px 0 #856a00, 0 8px 15px rgba(0,0,0,0.2);
    
    cursor: pointer;
    transition: all 0.1s ease;
    outline: none;
}

/* Efecto al pasar el ratón: Brillo */
#boton-enviar-pokemon:hover {
    background: linear-gradient(to bottom, #ffe066 0%, #ffcc00 100%);
    transform: translateY(-2px);
    box-shadow: 0 7px 0 #856a00, 0 10px 20px rgba(0,0,0,0.3);
}

/* Efecto al hacer clic: Se hunde */
#boton-enviar-pokemon:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #856a00;
    background: #d4ac00;
}

/* REGIONES */

.region {
    max-width: 800px;           /* Evita que las líneas sean demasiado largas*/
    margin: 20px auto;          /* Centra el bloque */
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 12px;     
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); /* Sombra muy sutil */
    border-left: 5px solid #ff1f1f;
}

.region p {
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    line-height: 1.7;           /* Espaciado entre líneas */
    color: #333333; 
    letter-spacing: -0.01em;    /* Ajuste fino para fuentes modernas */
    text-align: justify;        /* Opcional: alinea el texto por ambos lados */
    hyphens: auto;              /* Corta palabras si es necesario */
}

.region p strong {
    color: #cc0000;
    font-weight: 600;
}

.region img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}

/* --- ESTILOS PARA EL GRID DE REGIONES EN EL INDICE --- */

.grid-regiones {
    display: grid;
    /* Crea columnas automáticas de mínimo 350px. Si no caben, saltan abajo. */
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 20px;
    padding: 10px;
}

.region-card {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.region-card:hover {
    transform: scale(1.03);
}

.region-card p {
    font-size: 1rem !important;
    padding: 20px !important;
    border-radius: 30px !important;
    line-height: 1.4 !important;
    margin: 10px 0 !important;
}

.region-card h3 {
    text-align: center;
    font-size: 1.3rem;
}

/* VIDEOS */

.titulo-videos {
    margin-top: 30px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
}

.container-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; 
    padding: 40px;
    width: 100%;
}

video {
    width: 100%; /* Ocupa el ancho de su contenedor video-item */
    max-width: 600px; /* Para que no se haga gigante en pantallas grandes */
    border: 5px solid white;
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.5); 
    background-color: #000;
    transition: transform 0.4s ease;
}

video:hover {
    transform: scale(1.05); 
    box-shadow: 0 15px 30px rgba(255, 0, 0, 0.4); 
    z-index: 10;
}

video + p {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.video-item {
    flex: 1 1 45%; /* Esto hace que se pongan dos vídeos por fila */
    min-width: 320px; 
    max-width: 600px;
    text-align: center;
    margin-bottom: 40px;
}

.video-item p {
    color: white;
    font-weight: normal;
    margin-top: 15px;
    line-height: 1.4;
}

/* TABLA DE TIPOS */

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

thead th {
    background-color: #000;
    color: #ffd700;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

tbody td {
    border: 1px solid #000;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}

tbody td:first-child {
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}

table img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin: 2px;
}

td img + img {
    margin-left: 4px;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

td:first-child img {
    margin-right: 6px;
}

td:nth-child(2) {
    font-weight: bold;
    color: #333;
}

td:nth-child(5) {
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: salmon;
}

tr:nth-child(even) {
    background-color: silver;
}

@media (max-width: 768px) {
    table {
        font-size: 12px;
    }

    table img {
        width: 18px;
        height: 18px;
    }
}

/* POKEDEX */
main.pokedex-page {
    background: radial-gradient(circle at 20% 20%, #ff4d4d 0%, #cc0000 50%, #800000 100%);
    background-image: 
        linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    border-radius: 30px;
    border: 10px solid #333;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    margin: 20px auto;
}

@keyframes led-blink {  /* Es como el transition pero más útil y completo  */
    0%, 100% { opacity: 1; filter: brightness(1.2) drop-shadow(0 0 5px currentColor); }
    50% { opacity: 0.5; filter: brightness(0.8); }
    /*  es el motor de las animaciones en CSS, aqui basicamente lo que hago es que en el o%(inicio de la animación)
    y en el 100%(final) el elemento será opacco y mandendrá el color rojo oscuro, y cuando esté al 50% subirá el brillo
    y se verá el elemento en rojo brillante imitando un led, confieso que a esto me ha ayudado la IA pero entiendo
    perfectamente lo que hace  */
}

.container-pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px)); 
    gap: 40px; /* Espacio entre elementos del Grid, en este caso, tarjetas de la pokedex */
    padding: 50px 20px;
    max-width: 1300px;
    margin: 0 auto;
    /* Si Flexbox es para alinear elementos en una sola dirección (como una fila de botones), 
    el Grid es para armar toda la estructura de la web (como un tablero de ajedrez).  */
}

/* Tarjeta Estilo Pokedex */
.pokedex-page .pkmn-card {
    container-type: inline-size;
    container-name: card;
    background: #1a1a1a; 
    border-radius: 10px 50px 10px 10px; 
    border: 4px solid #333;
    border-bottom: 8px solid #111;
    padding: 25px;
    text-align: center;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pokedex-page .pkmn-card:hover {
    transform: translateY(-15px);
    border-color: #00ffcc;
    box-shadow: 0 0 20px rgba(0,255,204,0.3);
}

/* Pantalla de la imagen */
.pokedex-page .pkmn-card img {
    background: #4ab5a6; 
    border: 6px solid #dedede;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin: 15px auto;
    box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
}

/* Título del Pokemon */
.pokedex-page .pkmn-card h3 {
    color: #00ffcc;
    background: #000;
    padding: 10px;
    margin: 15px 0;
    font-family: 'PokemonFont', Arial, sans-serif;
    text-shadow: 0 0 8px #00ffcc;
    font-size: clamp(1.2rem, 8cqw, 1.8rem);
}

.pokedex-page .competitivo-info {
    text-align: left;
    margin-top: 15px;
    border-top: 1px solid #444; 
    padding-top: 15px;
}

/* Rol, Naturaleza y Habilidad (Ahora visibles) */
.pokedex-page .competitivo-info p {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin: 12px 0;
    color: #e6e4de;
    display: flex; 
    align-items: center; /* Alinea verticalmente los textos */
    justify-content: flex-start; /* Todo empieza a la IZQUIERDA */
    gap: 10px; /* Espacio fijo de 10px entre título y dato */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    padding-bottom: 4px;
}

/* Etiquetas internas (las palabras en negrita) */
.pokedex-page .competitivo-info p strong {
    font-family: 'PokemonFont', sans-serif;
    color: #00ffcc; 
    font-size: 0.85rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0; 
}

.pokedex-page .competitivo-info p span {
    font-weight: bold;
    color: #e6e4de; 
    letter-spacing: 0.5px;
}


/* Lista de Stats */
.pokedex-page .stats-sugeridos {
    list-style: none;
    padding: 12px;
    margin-top: 15px;
    background: #252525; 
    border-radius: 12px;
    font-size: 0.9rem;
    border-left: 5px solid #00ffcc;
    color: #ffffff;
    font-size: clamp(0.7rem, 4cqw, 0.9rem);
}

.pokedex-page .stats-sugeridos li {
    margin-bottom: 5px;
}

/* Número del Pokémon */
.pokedex-page .pkmn-number {
    font-weight: bold;
    color: #ff0000;
    font-size: 3rem;
    font-family: 'Courier New', monospace;
    animation: led-blink 2s infinite ease-in-out;
}

/* FOOTER */

footer {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

footer > p {
    color: #333;
    font-weight: bold;
}

footer p, footer small {
    color: white !important;
    font-weight: bold;
}